@import './colors.scss';
@import url('https://fonts.googleapis.com/css?family=Hind:400,600|Palanquin+Dark');

$global-font-size: 16px;
$header-font: 'Palanquin Dark';
$body-font: 'Hind';
$font-color: $primary;

html {
  font-size: $global-font-size;
  font-family: $body-font, sans-serif;
  color: $font-color;
  line-height: 1.5;
}

a,
button,
input,
option,
p,
select,
table,
tbody,
td,
textarea,
th,
thead,
tr {
  font-family: $body-font, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font, sans-serif;
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

small {
  font-size: 0.8em;
}

strong {
  font-weight: bold;
}

a {
  color: $links;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
