@import './colors.scss';

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;

  &.section--white {
    background-color: white;
  }

  &.section--dark {
    background-color: $primary;
    color: $darkPrimary;
  }
}
