@import '~assets/styles/colors.scss';

h1 {
  font-size: 16vw;
  line-height: 0.9;
  text-transform: uppercase;
}

.boundaries {
  padding: 5vw;
}

.chapter {
  h2 {
    font-size: 16vw;
    text-shadow: 3px 3px white;
  }

  .h2-sub {
    font-size: 3rem;
    font-weight: bold;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.intro {
  font-size: 1.2em;

  strong {
    display: block;
  }
}

.divider {
  height: 20vh;
  background-image: linear-gradient(to bottom, $primary, rgba($primary, 0));
}

.box {
  background-color: white;
  font-size: 2em;
  padding: 20px;
}
